html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small, h3 {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


button {
  cursor: pointer;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea {
  cursor: text;
}

button,
input[type="submit"] {
  cursor: pointer;
}
Contact GitHub API Training Shop Blog About
